#main{
	width:100%;
	margin:0;
	padding:0;
	top:0;
	left:0;
}

#title{
	text-align:center;
	font-size:45px;
}

header{
	margin:0px;
	position:relative;
	background:#ffb3d9;
	padding:10px;
	color:#030302;	

}

header > h3{
	text-align: center;
	font-size:30px;
}


.img-div{
	
	background:#e0ebeb;
	padding:20px;
}

#image{
	max-width: 100%;
	display: block;
	margin:auto;
	border:1em solid black;
	padding:1%;

}

#img-caption{
	text-align:center;
	font-color:blue;
	font-size: 20px;
	margin-top:10px;
	margin-bottom:20px;
}

#tribute-info{
	background:#ffb380;
	padding:40px;
	
	font-size:20px;
	text-align:center;
}

ul li{
	list-style: none;
}

a{
	text-decoration: none;
	border:2px solid grey;
	padding:20px;
	background: black;
	color:white;
}

a:hover{
	font-size:30px;
	color:black;
	background:#cc6600;

}

#tribute-info > h2{
	text-align:center;
	font-size: 40px;
	font-weight: bold;
}


/*.grid-container{
	display: grid;
	grid-template-columns: 30% 30% 30%;
	background: #2196F3;
	width:100%;
	padding: 20px;
}

.grid-container > div{
	text-align:center;
	border:2px solid rgba(0,0,0,0.8);
	padding: 60px;
	margin:10px;
	font-size:40px;
	background: rgba(255, 255, 255);

}*/